<div class="body">
  <div class="container">
    <button id="lindo" routerLink="/lindas" class="boton" style="color: black;">COSAS LINDAS</button>
    <button id="feo" routerLink="/feas" class="boton" style="color: rgb(255, 255, 255);">COSAS FEAS</button>
  </div>

  <div class="logout-container">
    <div class="logout">
      <i (click)="cerrarSesion()" class="fa-solid fa-right-from-bracket fa-lg"></i>
      <span style="margin-left: 8px; font-size: 18px;">SALIR</span>
    </div>
  </div>
</div>